:root {
  --text: #000000ff;
  --background: #f5f5f5ff;
  --battery-prog-bg: #d3d3d380;
  --battery-use: #657ef8ff;
  --battery-pls: #65f87eff;
  --battery-low: #f8657eff;
  --header-border: #3d3d3dff;
  --header: #d3d3d380;
  --border: #3d3d3dff;
  --sp-logo: url('textures/light/icon.png');
  --remove-video-icon: url('textures/light/vids_remove.png');
  --remove-image-icon: url('textures/light/imgs_remove.png');
  --remove-audio-icon: url('textures/light/auds_remove.png');
  --remove-document-icon: url('textures/light/docs_remov.png');
  --loop-on: url('textures/light/loop_on.png');
  --loop-off: url('textures/light/loop_off.png');
  --player-video-icon: url('textures/light/player_video.png');
  --player-image-icon: url('textures/light/player_image.png');
  --player-audio-icon: url('textures/light/player_audio.png');
  --player-document-icon: url('textures/light/player_document.png');
  --shadow: #00C2ffff;
  --shadow-active: #C2ff00ff;
}