:root {
  --text: #ffffffff;
  --background: #0c0c0cff;
  --battery-prog-bg: #d3d3d380;
  --battery-use: #657ef8ff;
  --battery-pls: #65f87eff;
  --battery-low: #f8657eff;
  --header-border: #d3d3d3ff;
  --header: #3d3d3d80;
  --border: #d3d3d3ff;
  --modals-backgrounds: #191919cc;
  --shadow: #717171ff;
  --shadow-effect: #00C2ffff;
  --shadow-active: #C2ff00ff;
  --border-effect: #00C2ffff;
  --border-active: #C2ff00ff;
  --color-false: #f8657eff;
  --audio: #3d3d3dff;
  --iframe: #d3d3d380;
  --file-load: #363636aa;
  --text-color-in: #00C2ffff;
  --text-color-err: #f8657eff;
  --sp-logo: url('textures/dark/icon.png');
  --player-video-icon: url('textures/dark/player_video.png');
  --player-image-icon: url('textures/dark/player_image.png');
  --player-audio-icon: url('textures/dark/player_audio.png');
  --player-document-icon: url('textures/dark/player_document.png');
  --player-video-icon-active: url('textures/dark/player_video_2.png');
  --player-image-icon-active: url('textures/dark/player_image_2.png');
  --player-audio-icon-active: url('textures/dark/player_audio_2.png');
  --player-document-icon-active: url('textures/dark/player_document_2.png');
  --close-icon: url('textures/dark/close_0.png');
  --close-icon-colored: url('textures/dark/close_1.png');
  --menu-button: url('textures/dark/menu_0.png');
  --menu-button-colored: url('textures/dark/menu_1.png');
  --to-top-icon: url('textures/dark/player_top_btn.png');
}