[data-theme="dark"] {
  --text: #ffffffff;
  --background: #0c0c0cff;
  --battery-prog-bg: #d3d3d380;
  --battery-use: #657ef8ff;
  --battery-pls: #65f87eff;
  --battery-low: #f8657eff;
  --header-border: #d3d3d3ff;
  --header: #3d3d3d80;
  --border: #d3d3d3ff;
  --sp-logo: url('textures/dark/icon.png');
  --remove-video-icon: url('textures/dark/vids_remove.png');
  --remove-image-icon: url('textures/dark/imgs_remove.png');
  --remove-audio-icon: url('textures/dark/auds_remove.png');
  --remove-document-icon: url('textures/dark/docs_remov.png');
  --loop-on: url('textures/dark/loop_on.png');
  --loop-off: url('textures/dark/loop_off.png');
  --player-video-icon: url('textures/dark/player_video.png');
  --player-image-icon: url('textures/dark/player_image.png');
  --player-audio-icon: url('textures/dark/player_audio.png');
  --player-document-icon: url('textures/dark/player_document.png');
  --shadow: #00C2ffff;
  --shadow-active: #C2ff00ff;
}