:root {
  --text: #ffffffff;
  --background: #0c0c0cff;
  --battery-prog-bg: #d3d3d380;
  --battery-use: #657ef8ff;
  --battery-pls: #65f87eff;
  --battery-low: #f8657eff;
  --header-border: #d3d3d3ff;
  --header: #3d3d3d80;
  --border: #d3d3d3ff;
  --modals-backgrounds: #191919cc;
  --shadow: #717171ff;
  --shadow-effec: #00C2ffff;
  --shadow-active: #C2ff00ff;
  --border-effect: #00C2ffff;
  --audio: #3d3d3dff;
  --iframe: #d3d3d380;
  --sp-logo: url('textures/dark/icon.png');
  --player-video-icon: url('textures/dark/player_video.png');
  --player-image-icon: url('textures/dark/player_image.png');
  --player-audio-icon: url('textures/dark/player_audio.png');
  --player-document-icon: url('textures/dark/player_document.png');
  --close-icon: url('textures/dark/close_0.png');
  --close-icon-colored: url('textures/dark/close_1.png');
  --menu-button: url('textures/dark/menu_0.png');
  --menu-button-colored: url('textures/dark/menu_1.png');
}