* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: spFont, arial;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
}
*:disabled {
  opacity: 0.5;
}
*::-webkit-scrollbar {
  display: none;
}
body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body {
  color: var(--text);
  background-color: var(--background);
}
#header {
  width: 100%;
  height: 2.5vmax;
  display: flex;
  background-color: var(--header);
  z-index: 2;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  border-bottom: solid 2px var(--header-border);
  border-left: solid 0px var(--header-border);
  border-right: solid 0px var(--header-border);
}
.sticky {
  width: 95% !important;
  margin: 0px 2.5%;
  border-left: solid 2px var(--header-border) !important;
  border-right: solid 2px var(--header-border) !important;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
}
#titleHeader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vmax;
  font-weight: bold;
  padding-left: 5px;
}
#headerLogo {
  background-size: 100% 100%;
  background-position: center center;
  height: 2.5vmax;
  width: 2.5vmax;
  padding-left: 5px;
}
#headerLogo {
  background-image: var(--sp-logo);
}
#tabsContiner {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  z-index: 2;
  backdrop-filter: blur(5px);
  border-top: solid 1px var(--border);
  background-color: var(--header);
}
#tabsContiner .player-tab {
  border-radius: 0px;
  border: none;
  background-size: auto 66%;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  color: var(--text);
  border: solid 1px var(--border);
  border-bottom: none;
  box-shadow: inset 0px 0px 5px var(--shadow);
  filter: drop-shadow(0px 0px 5px var(--shadow)) grayscale(1);
  letter-spacing: 0;
}
#tabsContiner .player-tab:hover {
  border-color: var(--border-effect);
  box-shadow: inset 0px 0px 5px var(--shadow-effect);
  filter: drop-shadow(0px 0px 5px var(--shadow-effect)) grayscale(0);
  letter-spacing: 1px;
}
#tabsContiner .player-tab.active {
  border-color: var(--border-active);
  box-shadow: inset 0px 0px 5px var(--shadow-active);
  filter: drop-shadow(0px 0px 5px var(--shadow-active)) grayscale(0);
  cursor: default !important;
  letter-spacing: 1px;
}
#tabsContiner #videoPlayer {
  background-image: var(--player-video-icon);
}
#tabsContiner #videoPlayer.active {
  background-image: var(--player-video-icon-active);
}
#tabsContiner #imagePlayer {
  background-image: var(--player-image-icon);
}
#tabsContiner #imagePlayer.active {
  background-image: var(--player-image-icon-active);
}
#tabsContiner #audioPlayer {
  background-image: var(--player-audio-icon);
}
#tabsContiner #audioPlayer.active {
  background-image: var(--player-audio-icon-active);
}
#tabsContiner #documentPlayer {
  background-image: var(--player-document-icon);
}
#tabsContiner #documentPlayer.active {
  background-image: var(--player-document-icon-active);
}
#statusBar {
  height: 50px;
  width: 100%;
}
.player-content {
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: -100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 50px;
  padding-top: 2.5vmax;
  background-color: var(--background);
  z-index: 0;
}
.player-content.displayed {
  bottom: 0%;
  z-index: 1;
}
.device-info-indicator {
  position: relative;
  width: auto;
  height: 100%;
  padding-right: 0px;
  padding-left: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  padding-right: 5px;
  margin-right: 5px;
  border-right: solid 2px var(--header-border);
}
#dateTimeIndicator {
  font-size: 1vmax;
  display: flex;
  flex-direction: column;
  margin-top: -0.3vh;
  transition: 0s;
  -o-transition: 0s;
  -moz-transition: 0s;
  -webkit-transition: 0s;
}
#batteryIndicator {
  position: relative;
  width: auto;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#clock {
  text-align: center;
}
#batteryProgress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 7px;
  background-color: var(--battery-prog-bg);
}
#inBatteryProgress {
  width: 100%;
}
.player-title {
  width: 100%;
  text-align: center;
}
input[type="file"] {
  display: none;
}
.sub-input-file {
  width: 95%;
  margin: 2px 2.5%;
  height: auto;
  background-color: transparent;
  color: var(--text);
  border: solid 2px var(--border);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 5px var(--shadow), inset 0px 0px 5px var(--shadow);
  text-shadow: 0px 0px 5px var(--shadow);
  filter: drop-shadow(0px 0px 5px var(--shadow));
  letter-spacing: 0;
}
.sub-input-file:hover {
  background-color: transparent;
  color: var(--border-effect);
  border: solid 2px var(--border-effect);
  box-shadow: 0px 0px 5px var(--shadow-effect), inset 0px 0px 5px var(--shadow-effect);
  filter: drop-shadow(0px 0px 5px var(--shadow-effect));
  letter-spacing: 1px !important;
}
.uploaded-continer {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.open-menu-button {
  height: 100%;
  width: 2.5vmax;
  position: absolute;
  right: 0;
  cursor: pointer;
  background-image: var(--menu-button);
  background-size: 100% 100%;
  filter: drop-shadow(0px 0px 5px var(--shadow));
}
.open-menu-button:hover {
  background-image: var(--menu-button-colored);
  filter: drop-shadow(0px 0px 5px var(--shadow-effect));
}
#menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 3;
  backdrop-filter: blur(5px);
  background-color: var(--modals-backgrounds);
  border-left: solid 2px var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#menuContent {
  width: 80vw;
  height: 80vh;
  border-radius: 10px;
  overflow: auto;
  padding: 20px;
  background-color: var(--background);
  border: solid 2px var(--border);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.close-windows {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: var(--header);
  background-image: var(--close-icon);
  background-size: 85% 85%;
  background-position: center center;
  background-repeat: no-repeat;
  border: solid 2px var(--border);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px var(--shadow), 0px 0px 5px var(--shadow);
  filter: drop-shadow(0px 0px 5px var(--shadow));
}
.close-windows:hover {
  background-image: var(--close-icon-colored);
  border: solid 2px var(--border-effect);
  box-shadow: inset 0px 0px 5px var(--shadow-effect), 0px 0px 5px var(--shadow-effect);
  filter: drop-shadow(0px 0px 5px var(--shadow-effect));
}
.ivfs {
  top: 40px;
  z-index: 3;
}
#menuTitle {
  margin-bottom: 20px;
}
.categore {
  width: 100%;
  text-align: center;
  border-bottom: solid 1px var(--border);
  margin-top: -20px;
  padding: 5px 0;
}
select {
  border: 2px solid var(--border);
  background-color: transparent;
  color: var(--text);
  border-radius: 5px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px var(--shadow));
  letter-spacing: 0;
}
select:hover {
  color: var(--border-effect);
  border: solid 2px var(--border-effect);
  box-shadow: 0px 0px 5px var(--shadow-effect), inset 0px 0px 5px var(--shadow-effect);
  filter: drop-shadow(0px 0px 5px var(--shadow-effect));
  letter-spacing: 1px !important;
}
button {
  border: 2px solid var(--border);
  background-color: transparent;
  color: var(--text);
  border-radius: 5px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px var(--shadow));
  letter-spacing: 0;
}
button:hover {
  color: var(--border-effect);
  border: solid 2px var(--border-effect);
  box-shadow: 0px 0px 5px var(--shadow-effect), inset 0px 0px 5px var(--shadow-effect);
  letter-spacing: 1px !important;
}
.setting-content {
  width: 100%;
  height: auto;
  margin: 5px 0px;
  background-color: var(--background);
}
.setting-content label {
  width: 100%;
  display: block;
}
.setting-content select {
  width: calc(100% - 2.5px);
  text-align: center;
}
#applySettings {
  width: 200px;
  margin: 10px;
  display: none;
}
.image-display {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  z-index: 3;
  background: var(--background);
  backdrop-filter: blur(0px);
  cursor: pointer;
}
.expanded-img,
.expanded-img:hover,
.expanded-img:focus {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  display: block;
  border: none;
  margin: auto;
}
.image-name {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  border-bottom: 2px solid var(--border);
  height: 25px;
  text-align: center;
  background-color: var(--modals-backgrounds);
  backdrop-filter: blur(5px);
}
.instruction-fss {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  border-top: 2px solid var(--border);
  height: auto;
  text-align: center;
  background-color: var(--modals-backgrounds);
  backdrop-filter: blur(5px);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.fsvi-blocker {
  width: 100%;
  height: 100%;
  position: absolute;
}
input[type="checkbox"] {
  display: none;
}
.sub-checkbox {
  cursor: pointer;
  width: 22px;
  height: 22px;
  border-radius: 5px;
  margin: 0;
  position: relative;
  float: left;
  border: none;
  background: transparent;
  backdrop-filter: blur(5px);
  box-shadow: inset 0px 0px 2px var(--shadow);
  outline: solid 2px var(--border);
  color: var(--text);
  overflow: hidden;
  text-align: center;
  display: flex;
}
.sub-checkbox:hover {
  outline: solid 2px var(--border-effect);
  box-shadow: inset 0px 0px 2px var(--shadow-effect);
  filter: drop-shadow(0px 0px 2px var(--shadow-effect));
  color: var(--border-effect) !important;
}
.sub-checkbox.checked {
  outline: solid 2px var(--border-active) !important;
  box-shadow: inset 0px 0px 2px var(--shadow-active) !important;
  filter: drop-shadow(0px 0px 2px var(--shadow-active)) !important;
  color: var(--border-active) !important;
}
.sub-checkbox .chox {
  width: 22px;
  height: 22px;
  padding: auto;
}
.sub-checkbox .chox.false {
  margin-left: 0%;
}
.sub-checkbox .chox.true {
  margin-right: -100%;
}
.sub-checkbox.checked .chox.false {
  margin-left: -100%;
}
.sub-checkbox.checked .chox.true {
  margin-right: 0%;
}
.totop-button {
  position: fixed;
  bottom: 60px;
  right: 10px;
  height: 50px;
  width: 50px;
  background-image: var(--to-top-icon);
  background-size: 100% 100%;
  filter: drop-shadow(0px 0px 2px var(--shadow)) grayscale(1);
  z-index: 2;
  cursor: pointer;
}
.totop-button:hover {
  filter: drop-shadow(0px 0px 2px var(--shadow-effect)) grayscale(0);
}
.players-continer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.alert-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: auto;
  right: -100%;
  backdrop-filter: blur(5px);
  background-color: var(--modals-backgrounds);
  border-left: solid 2px var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
.alert-content {
  width: 50vw;
  height: 104px;
  position: absolute;
  border: solid 2px var(--border);
  background-color: var(--background);
  border-radius: 10px;
  overflow: hidden;
}
.alert-name {
  width: 100%;
  border-bottom: solid 2px var(--border);
  color: var(--shadow-effect);
  text-align: center;
  height: 25px;
}
.alert-text {
  width: 100%;
  text-align: center;
  height: 50px;
  overflow-x: hidden;
  overflow-y: auto;
}
.alert-buttons {
  display: flex;
  width: 100%;
  height: 25px;
  border-top: solid 2px var(--border);
}
.alert-buttons button {
  border: none;
  border-radius: 0px;
  width: 50%;
}
.alert-buttons button:first-child {
  border-right: solid 1px var(--border);
}
.alert-buttons button:last-child {
  border-left: solid 1px var(--border);
}
#reloadPageBtn,
#closePageBtn {
  width: 100%;
}
@font-face {
  font-family: spFont;
  src: url('fonts/font.ttf');
}
@media only screen and (max-width: 375px) {
  .instruction-fss {
    font-size: 14px;
  }
}
@media only screen and (max-width: 762px) {
  .uploaded-continer {
    flex-direction: column;
  }
  #dateTimeIndicator {
    flex-direction: row;
    margin-top: -0px;
    font-size: 1.7vh;
  }
  #dateTimeIndicator #clock,
  #dateTimeIndicator #calendar {
    padding: 0px 1vw;
  }
}