:root {
  --text: #ffffffff;
  --background: #0c0c0cff;
  --battery-prog-bg: #d3d3d380;
  --battery-use: #657ef8ff;
  --battery-pls: #65f87eff;
  --battery-low: #f8657eff;
  --header-border: #d3d3d3ff;
  --header: #3d3d3d80;
  --border: #d3d3d3ff;
  --modals-backgrounds: #191919cc;
  --shadow: #717171ff;
  --shadow-effect: #00C2ffff;
  --shadow-active: #C2ff00ff;
  --border-effect: #00C2ffff;
  --border-active: #C2ff00ff;
  --color-false: #ff00C2ff;
  --audio: #3d3d3dff;
  --iframe: #d3d3d380;
  --file-load: #363636aa;
  --text-color-in: #00C2ffff;
  --text-color-err: #ff00C2ff;
  --sp-logo: url('../textures/dark/icon.png');
  --player-video-icon: url('../textures/dark/player_video.png');
  --player-image-icon: url('../textures/dark/player_image.png');
  --player-audio-icon: url('../textures/dark/player_audio.png');
  --player-document-icon: url('../textures/dark/player_document.png');
  --player-video-icon-active: url('../textures/dark/player_video_2.png');
  --player-image-icon-active: url('../textures/dark/player_image_2.png');
  --player-audio-icon-active: url('../textures/dark/player_audio_2.png');
  --player-document-icon-active: url('../textures/dark/player_document_2.png');
  --close-icon: url('../textures/dark/close_0.png');
  --close-icon-colored: url('../textures/dark/close_1.png');
  --menu-button: url('../textures/dark/menu_0.png');
  --menu-button-colored: url('../textures/dark/menu_1.png');
  --to-top-icon: url('../textures/dark/player_top_btn.png');
  --animation-image-0: url('../animations/cursour/effects/0000/0.png');
  --animation-image-1: url('../animations/cursour/effects/0000/1.png');
  --animation-image-2: url('../animations/cursour/effects/0000/2.png');
  --animation-image-3: url('../animations/cursour/effects/0000/3.png');
  --animation-image-4: url('../animations/cursour/effects/0000/4.png');
  --animation-image-5: url('../animations/cursour/effects/0000/5.png');
  --animation-image-6: url('../animations/cursour/effects/0000/6.png');
  --animation-image-7: url('../animations/cursour/effects/0000/7.png');
  --animation-image-8: url('../animations/cursour/effects/0000/8.png');
  --animation-image-9: url('../animations/cursour/effects/0000/9.png');
  --animation-image-10: url('../animations/cursour/effects/0000/10.png');
  --animation-image-11: url('../animations/cursour/effects/0000/11.png');
  --animation-image-12: url('../animations/cursour/effects/0000/12.png');
  --animation-image-13: url('../animations/cursour/effects/0000/13.png');
  --animation-image-14: url('../animations/cursour/effects/0000/14.png');
}