:root {
  --loading: #191919FF;
  --loading-animation-gray: #3d3d3dff;
  --loading-animation-blue: #657ef8ff;
  --loading-animation-lgray: #d3d3d3ff;
  --loading-animation-lblue: #00FFFFFF;
  --red: #f8657eff;
}
#loadingcontainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background: var(--loading);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#loader {
  position: relative;
  z-index: 1;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border-width: 10px;
  border-style: solid;
  border-top-color: var(--loading-animation-gray);
  border-left-color: var(--loading-animation-blue);
  border-right-color: var(--loading-animation-blue);
  border-bottom-color: var(--loading-animation-gray);
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#loadertxt {
  position: relative;
  font-weight: bold;
  -webkit-animation: color 3s infinite;
  animation: color 3s infinite;
  text-align: center;
}
.stopped {
  animation: none !important;
}
.widther-continer {
  width: 320px;
  height: 27px;
  position: relative;
  display: flex;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--loading-animation-gray);
  border-left-color: var(--loading-animation-blue);
  border-right-color: var(--loading-animation-blue);
  background-color: var(--loading-animation-gray);
}
#widther {
  background-color: var(--loading-animation-blue);
  height: 100%;
  transition: 0s;
  -o-transition: 0s;
  -moz-transition: 0s;
  -webkit-transition: 0s;
}
#widthernum {
  text-align: center;
  font-size: 17px;
  position: absolute;
  color: var(--loading);
}
.loading-assets {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0;
  left: 0;
}
.confirm-load {
  width: 320px;
  position: relative;
  margin-bottom: 10px;
  display: none;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px;
}
.confirm-load:hover {
  border-color: var(--border-effect);
  color: var(--border-effect);
  filter: drop-shadow(0px 0px 5px var(--shadow-effect));
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    border-top-color: var(--loading-animation-blue);
    border-left-color: var(--loading-animation-gray);
    border-right-color: var(--loading-animation-gray);
    border-bottom-color: var(--loading-animation-blue);
  }
  50% {
    -webkit-transform: rotate(180);
    border-top-color: var(--loading-animation-lblue);
    border-left-color: var(--loading-animation-lgray);
    border-right-color: var(--loading-animation-lgray);
    border-bottom-color: var(--loading-animation-lblue);
  }
  100% {
    -webkit-transform: rotate(360deg);
    border-top-color: var(--loading-animation-blue);
    border-left-color: var(--loading-animation-gray);
    border-right-color: var(--loading-animation-gray);
    border-bottom-color: var(--loading-animation-blue);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-top-color: var(--loading-animation-blue);
    border-left-color: var(--loading-animation-gray);
    border-right-color: var(--loading-animation-gray);
    border-bottom-color: var(--loading-animation-blue);
  }
  50% {
    transform: rotate(180deg);
    border-top-color: var(--loading-animation-lblue);
    border-left-color: var(--loading-animation-lgray);
    border-right-color: var(--loading-animation-lgray);
    border-bottom-color: var(--loading-animation-lblue);
  }
  100% {
    transform: rotate(360deg);
    border-top-color: var(--loading-animation-blue);
    border-left-color: var(--loading-animation-gray);
    border-right-color: var(--loading-animation-gray);
    border-bottom-color: var(--loading-animation-blue);
  }
}
@-webkit-keyframes color {
  0% {
    color: var(--loading-animation-blue);
  }
  25% {
    color: var(--loading-animation-lgray);
  }
  50% {
    color: var(--loading-animation-lblue);
  }
  75% {
    color: var(--loading-animation-gray);
  }
  100% {
    color: var(--loading-animation-blue);
  }
}
@keyframes color {
  0% {
    color: var(--loading-animation-blue);
  }
  25% {
    color: var(--loading-animation-lgray);
  }
  50% {
    color: var(--loading-animation-lblue);
  }
  75% {
    color: var(--loading-animation-gray);
  }
  100% {
    color: var(--loading-animation-blue);
  }
}